<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction LTD website">
    <meta name="keywords" content="construction, home, house, build">
    <meta name="author" content="Looshyo">
    <title>Construction LTD | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  </head>
<body>
  <header>
    <div class="container">
      <div id="logo"></div>
    <nav>
      <ul>
        <li class="current"><a href="/">Home</a></li>
        <li><a href="sites/projects.html">Projects</a></li>
        <li><a href="sites/about.html">About Us</a></li>
        <li><a href="sites/contact.html">Contact</a></li>
      </ul>
    </nav>
    </div>
  </header>
  <section id="showcase">
    <div class="container">
        <h2>We are making your history from the ground</h2>
        <a href="sites/projects.html" class="explore">Explore our projects</a>
        <p>Creating a sustainable future through building preservation, green architecture, and smart design...</p>
    </div>
  </section>
  <section id="boxes">
    <div class="container">
      <div class="box">
        <img src="img/house1.jpg" alt="House Photo">
        <h3>Houses</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio temporibus voluptatum similique optio tenetur maiores beatae molestiae, dolorem, quasi incidunt magni. Perferendis adipisci nulla eum error eaque obcaecati architecto dolore.</p>
      </div>
      <div class="box">
        <img src="img/office.jpg" alt="Office Photo">
        <h3>Offices</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error doloremque facilis inventore cum corporis odit similique. Deleniti praesentium illum rerum!</p>
      </div>
      <div class="box">
        <img src="img/cottage.jpg" alt="Cottage Photo">
        <h3>Cottages</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque beatae laudantium temporibus quisquam blanditiis officia iste repudiandae recusandae, veritatis impedit inventore tempore cum. Dicta, aliquid!</p>
      </div>
    </div>

  </section>
  <footer class="main-footer">
    <p>Construction LTD, Copyright&copy; 2018</p>
  </footer>
</body>
</html>