<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction LTD website">
    <meta name="keywords" content="construction, home, house, build">
    <meta name="author" content="Looshyo">
    <title>Construction LTD | Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  </head>
<body>
  <header>
    <div class="container">
      <div id="logo"></div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About Us</a></li>
        <li class="current"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    </div>
  </header>
  <section id="main">
    <div class="container">
      <article id="pricing">
        <ul>
          <li>
            <h4>Small House</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum explicabo obcaecati porro voluptate, iusto molestiae non modi aliquid optio.</p>
            <p>Prices starting from 20000$</p>
          </li>
          <li>
            <h4>Large House</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum explicabo obcaecati porro voluptate, iusto molestiae non modi aliquid optio.</p>
            <p>Prices starting from 80000$</p>
          </li>
          <li>
            <h4>Lake House</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis laborum explicabo obcaecati porro voluptate, iusto molestiae non modi aliquid optio.</p>
            <p>Prices starting from 50000$</p>
          </li>
        </ul>
      </article>
      <aside id="contact">
        <form action="#" class="contact-form">
          <label for="name">Name</label><br>
          <input type="text" placeholder="Enter name"><br>
          <label for="name">Surname</label><br>
          <input type="text" placeholder="Enter family name"><br>
          <label for="name">Email</label><br>
          <input type="email" placeholder="Enter email"><br>
          <label for="name">Message</label><br>
          <textarea name="message" id="" cols="30" rows="10"></textarea><br>
          <button class="contact-btn">Send</button>
        </form>
      </aside>
    </div>
  </section>
  <footer class="main-footer">
      <p>Construction LTD, Copyright&copy; 2018</p>
  </footer>
</body>
</html>