<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction LTD website">
    <meta name="keywords" content="construction, home, house, build">
    <meta name="author" content="Looshyo">
    <title>Construction LTD | Projects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  </head>
<body>
  <header>
    <div class="container">
      <div id="logo"></div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li class="current"><a href="projects.html">Projects</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
    </div>
  </header>
  <section id="main">
    <div class="container">
      <article id="projects">
        <h1 class="page-title">Our Projects</h1>
        <div id="projects-main">
        <div class="project-box">
          <img src="../img/house.jpg" alt="basic house">
          <h4>Basic Home</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p>
        </div>
        <div class="project-box">
          <img src="../img/lg_house.jpg" alt="large house">
          <h4>Large Home</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p>
        </div>
        <div class="project-box">
          <img src="../img/office2.jpg" alt="office space">
          <h4>Office</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p> 
        </div>
        <div class="project-box">
          <img src="../img/office3.jpeg" alt="office space">
          <h4>Office conference room</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p>
        </div>
        <div class="project-box">
          <img src="../img/lake.jpeg" alt="lake house">
          <h4>Lake House</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p>
        </div>
        <div class="project-box">
          <img src="../img/mountain.jpeg" alt="mountain house">
          <h4>Mountain Cottage</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat officia fugit quaerat corrupti cum. Debitis, aliquam blanditiis ea, corrupti ipsa fugit reprehenderit alias quasi iure repudiandae aliquid ab quaerat! Vero.</p>
        </div>
      </div>
      </article>
    </div>

  </section>
  <footer class="main-footer">
    <p>Construction LTD, Copyright&copy; 2018</p>
  </footer>
</body>
</html>